<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <p> © 2024. Itok1000</p>
          <p>※必ずしも効果があると保証されておりませんので、責任は負いかねない認識です</p>
          <p>あらかじめご了承ください</p>
        </div>
      </div>
    </div>
  </div>
</footer>